# Carga inicial de datos

La carga incial de datos se va a hacer en dos partes, de 2010 a 2018 y por separado la de 2019. Debido a los siguientes motivos:
- La estructura de la BBDD entre 2010 y 2018, es la misma. Sin embargo, en 2019 es diferente. Habrá que hacer una serie de modificaciones, para que la info de la BBDD conjunta de todos los años, tenga sentido.
- Las BBDD de 2010 a 2018, informaban de accidentes que afectaban al patrimonio y tenían heridos. En 2019 tendremos en cuenta accidentes que afectan al patrimonio, pero que pueden tener o no heridos. Con el fin de homogeneizar análisis de toda la base de datos quitaremos aquellos accidentes que no tengan heridos para 2019

Cargamos primeramente las librerias que vamos a necesitar

In [1]:
import pandas as pd, os
import numpy as np

Definimos el path que vamos a utilizar para descargar los datos

In [2]:
path = "1. Raw/"

### Carga BBDD de 2010 a 2018
Añadimos los DataSets a Python

In [3]:
import pandas as pd
files_dict = {"a10":"2010_Accidentalidad.csv","a11":"2011_Accidentalidad.csv","a12":"2012_Accidentalidad.csv",
              "a13":"2013_Accidentalidad.csv","a14":"2014_Accidentalidad.csv","a15":"2015_Accidentalidad.csv"
             ,"a16":"2016_Accidentalidad.csv","a17":"2017_Accidentalidad.csv","a18":"2018_Accidentalidad.csv"}
for key, value in files_dict.items():
    locals()[key] = pd.read_csv(os.path.join(path, value),sep=";",encoding='latin1',skip_blank_lines=False).dropna(axis = 0)

Vemos que los encabezados sean todos igual y los tipos de datos

In [4]:
a = any(a10.dtypes ==a11.dtypes)
b = any(a10.dtypes ==a12.dtypes)
c = any(a10.dtypes ==a13.dtypes)
d = any(a10.dtypes ==a14.dtypes)
e = any(a10.dtypes ==a15.dtypes)
f = any(a10.dtypes ==a17.dtypes)
print(a,b,c,d,e,f)

True True True True True True

Vemos que la base de datos de 2016 y 2018 tiene diferente estructura que el resto de data sets.

In [5]:
#any(a10.dtypes ==a16.dtypes)

In [6]:
#any(a10.dtypes ==a18.dtypes)

Aunque luego eliminaremos esta variable, porque no nos es util. De momento la renombramos para poder unir todas las BBDD.

In [7]:
a16 =a16.rename(columns = {'Nº VICTIMAS * ':'Nº VICTIMAS *'})
a18 =a18.rename(columns = {'* Nº VICTIMAS':'Nº VICTIMAS *'})

In [8]:
g = any(a10.dtypes ==a16.dtypes)
h = any(a10.dtypes ==a18.dtypes)
print(g,h)

True True

Vemos cuantos campos tenemos, para comprobar posteriormente que cuando concatenemos las bases de datos de 2010 a 2018 tienen el mismo numero de filas, en concreto: 252998.

In [9]:
total = 0
for i in [a10,a11,a12,a13,a14,a15,a16,a17,a18]:
    total = total +(i.shape[-2])
print(total)

252998

Concatenamos las BBDD de 2010 a 2018

In [10]:
dftotal1 = pd.DataFrame()
for i in [a10,a11,a12,a13,a14,a15,a16,a17,a18]:
    dftotal1 = dftotal1.append(i)

In [11]:
dftotal1

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,...,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS *,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad
0,01/01/2010,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS
1,01/01/2010,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS
2,01/01/2010,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS
3,01/01/2010,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. ...,10200,2010/94,NO,NO,NO,...,NO,NO,NO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
4,01/01/2010,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. ...,10200,2010/94,NO,NO,NO,...,NO,NO,NO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30117,31/12/2018,DE 21:00 A 21:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA ...,0,2019/18,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,TURISMO,VIAJERO,HOMBRE,IL,DE 30 A 34 ANOS
30118,31/12/2018,DE 21:00 A 21:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA ...,0,2019/18,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 40 A 44 AÑOS
30119,31/12/2018,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,MUJER,IL,DE 21 A 24 AÑOS
30120,31/12/2018,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,HOMBRE,HL,DE 50 A 54 AÑOS
30121,31/12/2018,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,NO ASIGNADO,NO ASIGNADA,DESCONOCIDA

Vamos a quitar la variable Nº de Victimas, porque no nos es util, al informar la base de datos victima por victima de sus caracteristicas y al poner agrupar cada accidente por NºParte

In [12]:
dftotal1 = dftotal1.drop('Nº VICTIMAS *', axis = 1)

Normalizacion de los nombre de columnas de este Data Set, de manera que:
- Cambiaremos, mayusculas por minusculas menos la primera letra de cada palabra
- Nombres de columna con mas de dos palabras, los uniremos con guion bajo

In [13]:
dftotal1 =dftotal1.rename(columns = {'FECHA':'Fecha','RANGO HORARIO':'Hora', 'DIA SEMANA':'Dia_Semana',
                                     'DISTRITO':'Distrito',
                                     'LUGAR ACCIDENTE':'Calle','Nº PARTE':'No_Parte',
                                     'CPFA Granizo':'CPFA_Granizo','CPFA Hielo':'CPFA_Hielo',
                                    'CPFA Lluvia':'CPFA_Lluvia', 'CPFA Niebla':'CPFA_Niebla',
                                    'CPFA Seco':'CPFA_Seco','CPFA Nieve':'CPFA_Nieve',
                                     'CPSV Mojada': 'CPSV_Mojada','CPSV Aceite':'CPSV_Aceite',
                                    'CPSV Barro':'CPSV_Barro','CPSV Grava Suelta': 'CPSV_Grava_Suelta',
                                    'CPSV Hielo':'CPSV_Hielo','CPSV Seca Y Limpia':'CPSV_Seca_Y_Limpia',
                                    'TIPO ACCIDENTE':'Tipo_Accidente','Tipo Vehiculo':'Tipo_Vehiculo','TIPO PERSONA':'Tipo_Persona',
                                     'Tramo Edad':'Tramo_Edad','SEXO':'Sexo','LESIVIDAD':'Lesividad','Nº':'No'})

Algunos campos de la BBDD tienen campos con espacios, asi que los vamos a quitar

In [14]:
dftotal1["Distrito"] = dftotal1["Distrito"].str.strip()
dftotal1["Tipo_Vehiculo"] = dftotal1["Tipo_Vehiculo"].str.strip()
dftotal1["Calle"] = dftotal1["Calle"].str.strip()
dftotal1["Lesividad"] = dftotal1["Lesividad"].str.strip()
dftotal1["Tipo_Persona"] = dftotal1["Tipo_Persona"].str.strip()
dftotal1["Tipo_Accidente"] = dftotal1["Tipo_Accidente"].str.strip(" ")

Normalizaremos los datos de las columnas: 
- Sexo -> 0 - Hombre, 1- Mujer, 2 - NO ASIGNADO 
- CPFA y CPSV -> 0 - NO, 1 - SI
- Lesividad -> IL - Ileso = 0*, HL - Leve = 1, HG - Grave = 2, M -MT(Muerto) = 3, No Asignada = 4
- Rango Horario -> Se adaptar al formato hora.
- La variable 'Fecha', la tranformaremos en una variable del tipo DateTime
- La variable 'Dia_Semana' dejaremos la primera letra en mayuscula y el resto en minuscula
- La variable 'Tipo_Vehiculo' dejaremos la primera letra en mayuscula y el resto en minuscula

*Nota: Hemos tenido que asumar que IL es ileso, porque en la descripción de la BBDD no se define

In [15]:
dftotal1['Sexo'].replace({"HOMBRE": 0, "MUJER": 1, "NO ASIGNADO": 2},inplace=True)
dftotal1.replace({"NO": 0, "SI": 1},inplace=True)
dftotal1["Lesividad"].replace({"IL": 0,"HL": 1,"HG":2,"MT":3,"NO ASIGNADA":4},inplace=True)
dftotal1['Hora'].replace({"DE 00:00 A 00:59":"00:30","DE 1:00 A 1:59":"1:30","DE 2:00 A 2:59":"2:30",
                                  "DE 3:00 A 3:59":"3:30","DE 4:00 A 4:59":"4:30","DE 5:00 A 5:59":"5:30",
                                  "DE 6:00 A 6:59":"6:30","DE 7:00 A 7:59":"7:30","DE 8:00 A 8:59":"8:30",
                                  "DE 9:00 A 9:59":"9:30","DE 10:00 A 10:59":"10:30","DE 11:00 A 11:59":"11:30",
                                  "DE 12:00 A 12:59":"12:30","DE 13:00 A 13:59":"13:30","DE 14:00 A 14:59":"14:30",
                                  "DE 15:00 A 15:59":"15:30","DE 16:00 A 16:59":"16:30","DE 17:00 A 17:59":"17:30",
                                  "DE 18:00 A 18:59":"18:30","DE 19:00 A 19:59":"19:30","DE 20:00 A 20:59":"20:30",
                                  "DE 21:00 A 21:59":"21:30","DE 22:00 A 22:59":"22:30","DE 23:00 A 23:59":"23:30"}, inplace =True)
dftotal1["Dia_Semana"]=dftotal1["Dia_Semana"].str.capitalize()
dftotal1["Tipo_Vehiculo"]=dftotal1["Tipo_Vehiculo"].str.capitalize()

In [16]:
dftotal1['Fecha']  = pd.to_datetime(dftotal1['Fecha'])
dftotal1['Dia_Semana']

0        Viernes
1        Viernes
2        Viernes
3        Viernes
4        Viernes
          ...
30117      Lunes
30118      Lunes
30119      Lunes
30120      Lunes
30121      Lunes
Name: Dia_Semana, Length: 252998, dtype: object

### Carga BBDD de 2019
Leemos la ultima Base de datos de 2019, que tiene diferente formato a las BBDD de años anteriores

In [17]:
a19 = pd.DataFrame(pd.read_csv(os.path.join(path, "2019" +"_Accidentalidad.csv"),sep=";",encoding='latin1'))

Se han tenido que realizar una serie de normalizaciones para el nombre de las columnas, para poner unir la BBDD de 2019 al resto de data set de años anteriores.

Normalizacion de los nombre de columnas de este Data Set, de manera que:
- Cambiaremos, mayusculas por minusculas menos la primera letra de cada palabra
- Nombres de columna con mas de dos palabras, los uniremos con guion bajo
- Quitaremos un comentario en la BBDD

In [18]:
a19.rename(columns = {'FECHA':'Fecha','HORA':'Hora','DISTRITO':'Distrito','CALLE':'Calle',
                   'NÚMERO':'No','Nº  EXPEDIENTE':'No_Parte','TIPO ACCIDENTE':'Tipo_Accidente',
                   'TIPO VEHÍCULO':'Tipo_Vehiculo','TIPO PERSONA':'Tipo_Persona','SEXO':'Sexo',
                   'LESIVIDAD*':'Lesividad','RANGO EDAD':'Tramo_Edad',},inplace =True)

In [19]:
a19 = a19.drop('* La correspondencia de los códigos se encuentra descrito en la estructura del fichero.', axis = 1)

Se van a realizar tambien unas normalizaciones con respecto a los datos:
    - Sexo -> 0 - Hombre, 1- Mujer
    - Lesividad -> se van a clasificar como en el dataset de años anteriores
    - Tipo_Vehiculo -> se van a clasificar como en el dataset de años anteriores. Se ha tenido que hacer una reclasificacion, para los datos de 2019. Esto es debido a que en 2019 los datos estan mas detallados que en el anterior DataSet 
    - Tipo_Persona -> se van a clasificar como en el dataset de este año
    - Tipo_Accidente -> se van a clasificar como en el dataset de este año

Variable Sexo

In [20]:
a19["Sexo"].replace({"Hombre": 0, "Mujer": 1},inplace=True)
a19["Sexo"].fillna(2,inplace = True)
a19["Sexo"] = a19["Sexo"].astype(np.int64)

Variable Lesividad

In [21]:
a19["Lesividad"].replace({1: 1,2: 1,3: 2,4: 3,5: 1,6: 1,7: 1,14: 0,77: 4},inplace=True)
a19["Lesividad"].fillna(0,inplace = True)
a19["Lesividad"] = a19["Lesividad"].astype(np.int64)
a19['Lesividad'].unique()

array([1, 0, 2, 3, 4], dtype=int64)

Variable Tipo de Vehiculo

In [22]:
a19['Tipo_Vehiculo'].replace({'Ciclomotor':"Ciclomotor", 'Turismo':'Turismo', 'Todo terreno':'Turismo',
        'Bicicleta':'Bicicleta','Motocicleta hasta 125cc':"Motocicleta", 'Motocicleta > 125cc':"Motocicleta",
        'Autobús':'Camion','Furgoneta':'Furgoneta', 'Camión rígido':'Camion', 'Tractocamión':'Camion',
       'Maquinaria de obras':'Camion', 'Vehículo articulado':'Camion',
       'Cuadriciclo no ligero':"Veh.3 ruedas", 'Autobús articulado':'Camion',
       'Otros vehículos con motor':'Varios', 'Autocaravana':'Furgoneta', 'Ciclo':"Ciclomotor",
       'Cuadriciclo ligero':"Veh.3 ruedas", 'Semiremolque':'Camion', 'Microbús <= 17 plazas':'Furgoneta',
       'Sin especificar':'No asignado', 'Remolque':'Varios', 'Tranvía':'Varios', 'Caravana':'Furgoneta',
       'VMU eléctrico':'Varios', 'Otros vehículos sin motor':'Varios', 'Patinete':'Varios',
       'Bicicleta EPAC (pedaleo asistido)':"Bicicleta", 'Autobus EMT':'Camion'},inplace =True)
a19['Tipo_Vehiculo'].fillna('No asignado', inplace=True)

In [23]:
a19['Tipo_Vehiculo'].unique()

array(['Ciclomotor', 'Turismo', 'Bicicleta', 'Motocicleta', 'Camion',
       'Furgoneta', 'No asignado', 'Veh.3 ruedas', 'Varios'], dtype=object)

Variable Tipo Persona

In [24]:
dftotal1['Tipo_Persona'].replace({"CONDUCTOR":"Conductor", "VIAJERO": "Pasajero", "PEATON":"Peatón", "TESTIGO": "Testigo"}, inplace = True)
dftotal1['Tipo_Persona'].fillna('No asignado', inplace=True)

In [25]:
dftotal1['Tipo_Persona'].unique()

array(['Conductor', 'Pasajero', 'Testigo', 'Peatón'], dtype=object)

Variable 'Tipo_Accidente'

In [26]:
dftotal1["Tipo_Accidente"]=dftotal1["Tipo_Accidente"].str.capitalize()
dftotal1["Tipo_Accidente"].unique()

array(['Colisión doble', 'Colisión múltiple', 'Choque con objeto fijo',
       'Caída motocicleta', 'Atropello', 'Vuelco', 'Caída ciclomotor',
       'Caída viajero bus', 'Otras causas', 'Caída bicicleta',
       'Caída vehículo 3 ruedas'], dtype=object)

In [27]:
a19['Tipo_Accidente'].replace({'Caída':'Caída ciclomotor', 'Colisión fronto-lateral': 'Colisión doble',
                               'Atropello a persona':'Atropello','Choque contra obstáculo fijo':'Choque con objeto fijo',
                               'Alcance':'Colisión doble', 'Vuelco':'Otras causas',
                               'Atropello a animal':'Atropello', 'Otro':'Otras causas', 'Colisión lateral':'Colisión doble',
                               'Colisión frontal':'Colisión doble', 'Colisión múltiple':'Colisión múltiple', 
                               'Solo salida de la vía':'Otras causas',
                               'Despeñamiento':'Otras causas'},inplace=True)
a19['Tipo_Accidente'].fillna('No asignado', inplace=True)

Añadiremos al Data set de 2019, el dia de la semana en el que ocurrio el accidente.

In [28]:
a19['Fecha'] = pd.to_datetime(a19['Fecha'])
Dia_Semana = a19['Fecha'].dt.dayofweek
Dia_Semana.replace({0:'Lunes', 1: 'Martes',
                              2:'Miercoles',3:'Jueves',
                               4:'Viernes', 5:'Sabado',
                               6:'Domingo'}, inplace = True) 
a19 = a19.assign(Dia_Semana = Dia_Semana.values)

C:\Users\Lenovo\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning: modifications to a property of a datetimelike object are not supported and are discarded. Change values on the original.
  self._update_inplace(new_data)

Se quita NaN, de Tipo Persona

In [29]:
a19['Tipo_Persona'].fillna('No asignado',inplace=True)

El DataSet de 2019, es bastante diferente en estructura con respecto a la definicion de los datos meteorologicos y de la carretera.
- Para los datos meteorologicos:
    - En las columnas: 'Granizando','Nevando' y 'Despejado'. Vamos a poner adaptar columnas de manera binaria y a adaptar con el nombre del Data Set de años anteriores 
    - Las columnas 'Nublado' y 'Se Desconoce' las vamos a eliminar porque en el otro DataSet no existen.
    - Las columnas 'Lluvia intensa' y 'Lluvia débil' se van a unir a una con el nombre CPFA_Lluvia que es como aparece en el Data Set de años anteriores y se borraran ambas columnas que aparecen por separado
    - Vamos a añadir las columnas:CPFA_Hielo,CPFA_Niebla con valor 0, porque aparecen en el DataSet de años anteriores.
    
- Para los datos del estado de la carretera, vamos a añadir las columnas que comienzan por CPSV y pondremos todos los datos a 0, porque no tenemos para el Data set de 2019, esta informacion y la añadiremos de esta forma.

In [30]:
a19_EstadoMeter_Carre= pd.get_dummies(a19["ESTADO METEREOLÓGICO"])
a19_EstadoMeter_Carre =a19_EstadoMeter_Carre.rename(columns = {'Granizando':'CPFA_Granizo','Nevando':'CPFA_Nieve',
                                                   'Despejado':'CPFA_Seco'})
a19_EstadoMeter_Carre

,CPFA_Seco,CPFA_Granizo,LLuvia intensa,Lluvia débil,CPFA_Nieve,Nublado,Se desconoce
0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0
2,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...
51801,1,0,0,0,0,0,0
51802,1,0,0,0,0,0,0
51803,1,0,0,0,0,0,0
51804,1,0,0,0,0,0,0
51805,1,0,0,0,0,0,0

In [31]:
a19_EstadoMeter_Carre['CPFA_Lluvia'] = a19_EstadoMeter_Carre['LLuvia intensa'] +  a19_EstadoMeter_Carre['Lluvia débil']

In [32]:
a19_EstadoMeter_Carre.drop(['Nublado', 'LLuvia intensa','Lluvia débil','Se desconoce'], axis = 1, inplace=True)

In [33]:
a19_EstadoMeter_Carre = a19_EstadoMeter_Carre.assign(CPFA_Granizo=a19_EstadoMeter_Carre['CPFA_Granizo'].values,
                            CPFA_Hielo=0,
                            CPFA_Lluvia=a19_EstadoMeter_Carre['CPFA_Lluvia'].values,
                            CPFA_Niebla=0,
                            CPFA_Seco=a19_EstadoMeter_Carre['CPFA_Seco'].values,
                            CPFA_Nieve=a19_EstadoMeter_Carre['CPFA_Nieve'].values,
                            CPSV_Mojada=0,
                            CPSV_Aceite=0,
                            CPSV_Barro=0,
                            CPSV_Grava_Suelta=0,
                            CPSV_Hielo=0,
                            CPSV_Seca_Y_Limpia=0)

In [34]:
a19_EstadoMeter_Carre = a19_EstadoMeter_Carre.astype(np.int64)

Añadimos la columnas referidas a  'Estado Meteorologico' del DataSet

In [35]:
a192 =  pd.concat([a19,a19_EstadoMeter_Carre], sort =False,axis = 1)

In [36]:
a192 = a192.drop('ESTADO METEREOLÓGICO',axis = 1)

La BBDD de 2019 es diferente a las anteriores, no solo por el formato, sino tambien por los datos se han tenido en cuenta en la BBDD. 
Según en descriptivo dado por el portal de datos abierto de la Comunidad de Madrid, en 2019 se da información de mas accidentes, porque se tienen en cuenta los que afectan al patrimonio como en años anteriores, pero que pueden tener o no heridos, cuando en periodos anteriores solo se tenian cuenta accidentes con asistencia sanitaria.
El tener en cuenta en 2019 accidentes en los que solo hay ilesos, provoca que no podamos hacer un análisis homogeneo de toda la información. 
Es por ello, que eliminaremos del dataset, aquellos accidentes en los que solo hay ilesos

In [37]:
a192 = a192[a192['Lesividad']>0]

## Concatenar BBDD de 2010-2018 con 2019

Union de la base de datos anterior de años anteriores a 2018 y posterior a 2018

In [38]:
DF = pd.merge(a192,dftotal1, how = 'outer')
DF.dtypes

No_Parte                      object
Fecha                 datetime64[ns]
Hora                          object
Calle                         object
No                            object
Distrito                      object
Tipo_Accidente                object
Tipo_Vehiculo                 object
Tipo_Persona                  object
Tramo_Edad                    object
Sexo                           int64
Lesividad                      int64
Dia_Semana                    object
CPFA_Seco                      int64
CPFA_Granizo                   int64
CPFA_Nieve                     int64
CPFA_Lluvia                    int64
CPFA_Hielo                     int64
CPFA_Niebla                    int64
CPSV_Mojada                    int64
CPSV_Aceite                    int64
CPSV_Barro                     int64
CPSV_Grava_Suelta              int64
CPSV_Hielo                     int64
CPSV_Seca_Y_Limpia             int64
dtype: object

Por ultimo, creamos la columna 'Dirección' que concatenará 'Calle' y 'No', de manera que obtendremos la dirección completa y unificamos los nombres de distrito

In [39]:
DF["No"].replace({"-": "","0": ""},inplace=True)
DF['Direccion'] =DF['Calle']+', '+DF['No']+', Madrid'

In [40]:
DF.drop(['Calle','No'], axis =1, inplace = True)

In [41]:
DF = DF[['No_Parte','Fecha','Hora','Direccion','Distrito','Tipo_Accidente','Tipo_Vehiculo','Tipo_Persona',
    'Tramo_Edad','Sexo','Lesividad','Dia_Semana','CPFA_Seco','CPFA_Granizo','CPFA_Nieve','CPFA_Lluvia',
 'CPFA_Hielo','CPFA_Niebla','CPSV_Mojada','CPSV_Aceite','CPSV_Barro','CPSV_Grava_Suelta','CPSV_Hielo','CPSV_Seca_Y_Limpia']]

In [42]:
DF['Distrito'].unique()

array(['CHAMBERÍ', 'CARABANCHEL', 'CENTRO', 'SALAMANCA', 'CIUDAD LINEAL',
       'CHAMARTÍN', 'VILLA DE VALLECAS', 'MORATALAZ', 'RETIRO', 'LATINA',
       'HORTALEZA', 'SAN BLAS-CANILLEJAS', 'MONCLOA-ARAVACA', 'USERA',
       'TETUÁN', 'FUENCARRAL-EL PARDO', 'VILLAVERDE',
       'PUENTE DE VALLECAS', 'ARGANZUELA', 'VICÁLVARO', 'BARAJAS', nan,
       'CHAMARTIN', 'CHAMBERI', 'TETUAN', 'SAN BLAS', 'VICALVARO'],
      dtype=object)

In [43]:
DF["Distrito"]=DF["Distrito"].str.capitalize()
DF["Distrito"].replace({'Chamberi':'Chamberí','Chamartin':'Chamartín','San blas - canillejas':'San Blas - Canillejas',
                        'Fuencarral-el pardo': 'Fuencarral - El Pardo','Moncloa - aravaca':'Moncloa - Aravaca',
                        'San blas':'San Blas - Canillejas','Villa de vallecas':'Villa de Vallecas', 
                      'Ciudad lineal':'Ciudad Lineal','Moncloa-aravaca':'Moncloa - Aravaca',
                       'Puente de vallecas':'Puente de Vallecas','Tetuan':'Tetuán','Vicalvaro':'Vicálvaro',
                       'Fuencarral - el pardo':'Fuencarral - El Pardo'},inplace=True)

In [44]:
DF["Tramo_Edad"].replace({'DE 30 A 34 ANOS':'DE 30 A 34 AÑOS','DE 6 A 9 AÑOS ':'DE 6 A 9 AÑOS','DE MAS DE 74 AÑOS ':'MAYOR DE 74 AÑOS'},inplace=True)

Exportamos Database a CSV en la que estamos trabajando

In [45]:
pathout = "3. DF/"

In [46]:
DF.to_csv(pathout+'DF.csv',index = False)

A continuación, se van a separar la base de datos por victima y por accidente con el fin de utilizarlas en Tableau y poder hacer visualizaciones con ellas.

# Base de datos de accidente

Se va a hacer otra BBDD que solo contenga las columnas que hacen referencia a las caracteristicas del accidente.

In [47]:
DF_Accidente = DF.drop(['Sexo','Tipo_Vehiculo', 'Tipo_Persona','Tramo_Edad','Sexo','Lesividad'],axis=1)
DF_Accidente = DF_Accidente.drop_duplicates('No_Parte')
DF_Accidente

,No_Parte,Fecha,Hora,Direccion,Distrito,Tipo_Accidente,Dia_Semana,CPFA_Seco,CPFA_Granizo,CPFA_Nieve,CPFA_Lluvia,CPFA_Hielo,CPFA_Niebla,CPSV_Mojada,CPSV_Aceite,CPSV_Barro,CPSV_Grava_Suelta,CPSV_Hielo,CPSV_Seca_Y_Limpia
0,2019S000020,2019-01-01,23:30,"CALL. FUENCARRAL, 149, Madrid",Chamberí,Caída ciclomotor,Martes,1,0,0,0,0,0,0,0,0,0,0,0
1,2019S000017,2019-01-01,22:15,"CALL. OCA / CALL. PINZON, , Madrid",Carabanchel,Colisión doble,Martes,1,0,0,0,0,0,0,0,0,0,0,0
2,2019S001812,2019-01-01,21:40,"CALL. BAILEN / CUSTA. SAN VICENTE, , Madrid",Centro,Colisión doble,Martes,1,0,0,0,0,0,0,0,0,0,0,0
3,2019S001336,2019-01-01,20:25,"CALL. MESONERO ROMANOS, 1, Madrid",Centro,Atropello,Martes,1,0,0,0,0,0,0,0,0,0,0,0
4,2019S000028,2019-01-01,19:15,"PASEO RECOLETOS-PLAZA COLON, , Madrid",Salamanca,Colisión doble,Martes,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266413,2019/66,2018-12-31,16:30,"AVENIDA DE LOS ROSALES NUM, 32, Madrid",Usera,Colisión doble,Lunes,1,0,0,0,0,0,0,0,0,0,0,1
266416,2018/16693,2018-12-31,19:30,CARRETERA DE ACCESO A LA ESTACION DE O'DONNELL...,San Blas - Canillejas,Colisión doble,Lunes,1,0,0,0,0,0,0,0,0,0,0,1
266418,2019/32,2018-12-31,21:30,"CALLE DE VILLANUEVA - PASEO DE RECOLETOS, , Ma...",Centro,Colisión doble,Lunes,1,0,0,0,0,0,0,0,0,0,0,1
266422,2019/18,2018-12-31,21:30,"CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA, , Ma...",Salamanca,Colisión doble,Lunes,1,0,0,0,0,0,0,0,0,0,0,1
266426,2019/53,2018-12-31,23:30,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,Hortaleza,Otras causas,Lunes,1,0,0,0,0,0,0,0,0,0,0,1

In [48]:
DF_Accidente.to_csv(pathout+'DF_Accidente.csv',index = False)

# Base de datos por victima

Se va a hacer un DataSet la info que se da por victima.

In [49]:
DF_Victima=DF.drop(['Fecha','Hora', 'Direccion','Distrito','Tipo_Accidente','Dia_Semana','CPFA_Seco',
                   'CPFA_Granizo','CPFA_Nieve','CPFA_Lluvia','CPFA_Hielo','CPFA_Niebla',
                  'CPSV_Mojada','CPSV_Aceite','CPSV_Barro','CPSV_Grava_Suelta','CPSV_Hielo','CPSV_Seca_Y_Limpia'],axis=1)

In [50]:
DF_Victima

,No_Parte,Tipo_Vehiculo,Tipo_Persona,Tramo_Edad,Sexo,Lesividad
0,2019S000020,Ciclomotor,Conductor,DE 25 A 29 AÑOS,0,1
1,2019S000017,Ciclomotor,Conductor,DE 35 A 39 AÑOS,0,2
2,2019S001812,Turismo,Conductor,DE 30 A 34 AÑOS,1,1
3,2019S001336,Turismo,Peatón,DE 55 A 59 AÑOS,0,1
4,2019S000028,Turismo,Conductor,DE 50 A 54 AÑOS,0,1
...,...,...,...,...,...,...
266424,2019/18,Turismo,Pasajero,DE 30 A 34 AÑOS,0,0
266425,2019/18,Auto-taxi,Conductor,DE 40 A 44 AÑOS,0,0
266426,2019/53,Turismo,Conductor,DE 21 A 24 AÑOS,1,0
266427,2019/53,Turismo,Conductor,DE 50 A 54 AÑOS,0,1
266428,2019/53,Turismo,Conductor,DESCONOCIDA,2,4

In [51]:
DF_Victima.set_index('No_Parte', inplace=True)
DF_Victima

            Tipo_Vehiculo Tipo_Persona       Tramo_Edad  Sexo  Lesividad
No_Parte
2019S000020    Ciclomotor    Conductor  DE 25 A 29 AÑOS     0          1
2019S000017    Ciclomotor    Conductor  DE 35 A 39 AÑOS     0          2
2019S001812       Turismo    Conductor  DE 30 A 34 AÑOS     1          1
2019S001336       Turismo       Peatón  DE 55 A 59 AÑOS     0          1
2019S000028       Turismo    Conductor  DE 50 A 54 AÑOS     0          1
...                   ...          ...              ...   ...        ...
2019/18           Turismo     Pasajero  DE 30 A 34 AÑOS     0          0
2019/18         Auto-taxi    Conductor  DE 40 A 44 AÑOS     0          0
2019/53           Turismo    Conductor  DE 21 A 24 AÑOS     1          0
2019/53           Turismo    Conductor  DE 50 A 54 AÑOS     0          1
2019/53           Turismo    Conductor      DESCONOCIDA     2          4

[266429 rows x 5 columns]

In [52]:
DF_Victima.reset_index(drop=False)

,No_Parte,Tipo_Vehiculo,Tipo_Persona,Tramo_Edad,Sexo,Lesividad
0,2019S000020,Ciclomotor,Conductor,DE 25 A 29 AÑOS,0,1
1,2019S000017,Ciclomotor,Conductor,DE 35 A 39 AÑOS,0,2
2,2019S001812,Turismo,Conductor,DE 30 A 34 AÑOS,1,1
3,2019S001336,Turismo,Peatón,DE 55 A 59 AÑOS,0,1
4,2019S000028,Turismo,Conductor,DE 50 A 54 AÑOS,0,1
...,...,...,...,...,...,...
266424,2019/18,Turismo,Pasajero,DE 30 A 34 AÑOS,0,0
266425,2019/18,Auto-taxi,Conductor,DE 40 A 44 AÑOS,0,0
266426,2019/53,Turismo,Conductor,DE 21 A 24 AÑOS,1,0
266427,2019/53,Turismo,Conductor,DE 50 A 54 AÑOS,0,1
266428,2019/53,Turismo,Conductor,DESCONOCIDA,2,4

In [53]:
DF_Victima.to_csv(pathout+'DF_Victima.csv')